#
# OpenSSL ca 用配置文件
#
# 内含所有手册涉及到的配置项
#
# Author: Xiami
# Email: i@f2light.com
#

[ default ]
#RANDFILE    =
oid_file    = ext.oid
#oid_section =

[ ca ]
# -name [Mandatory]
default_ca  = CA_default

[ CA_default ]
dir = .

# -outdir [Mandatory]
# 新证书的存放目录
new_certs_dir   = $dir/certs

# -cert [Mandatory]
# CA 证书
certificate = $dir/ca.crt

# -keyfile [Mandatory]
# CA 私钥
private_key = $dir/ca.key

# -days
# 证书有效期（日）
# 必须设置 default_days 或 default_enddate
default_days    = 365

# -startdate
# 证书有效期从（默认当前日期）
#default_startdate   =

# -enddate
# 证书有效期到
# 必须设置 default_days 或 default_enddate
#default_enddate =

# -crlhours
# CRL 有效期（小时）
# 必须设置 default_crl_hours 或 default_crl_days
#default_crl_hours   =

# -crldays
# CRL 有效期（日）
# 必须设置 default_crl_hours 或 default_crl_days
default_crl_days    = 14

# -md [Mandatory]
# 消息摘要算法
default_md  = sha512

# CA 数据库 [Mandatory]
# 初始值为空的文本文件
database    = $dir/db/db

# 唯一使用者
unique_subject  = no

# 下一个证书序列号 [Mandatory]
# 文本文件，包含一个数字
serial  = $dir/db/serial

# 下一个 CRL 序列号
# 文本文件，包含一个数字
# 仅当此文件存在时生成 CRL 序列号
crlnumber   = $dir/db/crl_serial

# -extensions
# V3 证书扩展节
# 如不指定则生成 V1 证书
#x509_extensions = v3ext

# -crlexts
# V2 CRL 扩展节
# 如不指定则生成 V1 CRL
crl_extensions  = v2crlext

# -preserveDN
# 保持 DN 顺序（用于老版本 IE 兼容）
#preserve    = no

# -noemailDN
# 仅当不想 EMAIL 字段出现在 DN 中时去除下行的注释
#dmail_in_dn = no

# -msie_hack
# 兼容老版本 IE
#msie_hack   = no

# -policy
# 策略节（控制 DN）
policy  = match_pol

# 展现格式
# 参见 x509 手册的 -nameopt, -certopt 参数
name_opt    = ca_default
cert_opt    = ca_default

# 从证书请求复制扩展信息
# 可选值：none(default), copy, copyall(insecure)
# 谨慎！请阅读 ca 手册 WARNING 部分了解安全隐患！
copy_extensions = none

[ v2crlext ]
authorityKeyIdentifier  = keyid:always
authorityInfoAccess = caIssuers;URI:http://www.example.com/ca.crt
# 颁发者分发点(仅用于 CRL)
#  暂时未用到，参见 x509v3_config 手册。
#issuingDistributionPoint   = critical, @idp_section

[ match_pol ]
# 格式：DN 字段 = match/supplied/optional
#  match: 必须和 CA 证书里的相应字段相同
#  supplied: 必须出现
#  optional: 可有可无
# 没有出现的 DN 字段会被自动删除除非设置了 -preserveDN
#domainComponent         = optional
countryName             = supplied
stateOrProvinceName     = optional
localityName            = optional
organizationName        = supplied
organizationUnitName    = optional
commonName              = supplied
emailAddress            = optional
