[ default ]
url_base    = http://www.example.com
url_ocsp    = $url_base/ocsp
url_cacert  = $url_base/ca.crt
url_crl     = $url_base/ca.crl

# x509v3 扩展节
# 格式：extension_name = [critical, ]value
[ v3ext ]
# 基本约束(CA 证书 MUST critical)
# CA : 该证书是不是 CA 证书。[Mandatory]
# pathlen : 该证书以下可颁发多少层 CA 证书。
basicConstraints    = critical, CA:TRUE, pathlen:0

# 密钥用法(SHOULD critical)
# 支持的值有：digitalSignature, nonRepudiation, keyEncipherment,
#  dataEncipherment, keyAgreement, keyCertSign, cRLSign,
#  encipherOnly, decipherOnly
keyUsage    = critical, digitalSignature

# 增强型密钥用法
# 支持的值有：serverAuth, clientAuth, codeSigning, emailProtection,
#  timeStamping, msCodeInd, msCodeCom, msCTLSign, msSGC, msEFS,
#  nsSGC
# 允许使用自定义 OID
extendedKeyUsage    = serverAuth, clientAuth

# 使用者密钥标识符(MUST non-critical)
subjectKeyIdentifier    = hash

# 授权密钥标识符(MUST non-critical)
# keyid : 从 CA 证书复制使用者密钥标识符过来。
#  如设值为 always 则复制失败报错
# issuer : 复制 CA 证书的颁发者和序列号过来。[?]
#  仅当 keyid 复制失败或未包括时生成此字段
#  如设值为 always 则无论如何都生成此字段
authorityKeyIdentifier  = keyid, issuer:always

# 使用者可选名称
#  (如果 DN 为空，MUST critical；否则 SHOULD non-critical)
# 以下任意搭配（可重复）
# email : 特殊值 copy 意味着和 DN 中的 EMAIL 一致
# URI : 统一资源标识
# DNS : DNS 域名
# RID : 注册 ID (OID)
# IP : IP 地址
# dirName : 一个 DN 信息节
# otherName : 自定义值。格式 OID;ASN1_CONTENT
subjectAltName  = email:copy, email:i@example.com
#subjectAltName  = URI:http://www.example.com
#subjectAltName  = DNS:www.example.com
#subjectAltName  = IP:192.168.1.1
#subjectAltName  = RID:1.2.3.4
#subjectAltName  = otherName:1.2.3.4;UTF8:string
#subjectAltName  = dirName:dir_sect
#[ dir_sect ]
#C=CN
#O=Xiami Inc.
#OU=Xiami Unit
#CN=Xiami

# 颁发者可选名称(SHOULD non-critical)
# 可选值同使用者可选名称
#  除了 email:copy 不能用
# issuer:copy : 复制颁发者的使用者可选名称过来
issuerAltName   = issuer:copy

# 授权信息访问(MUST non-critical)
# 格式：OID;Location
authorityInfoAccess = OCSP;URI:$url_ocsp, caIssuers;URI:$url_cacert

# CRL 分发点(SHOULD non-critical)
# 这里给出的是 Simple 格式，完整格式参见 x509v3_config 手册
crlDistributionPoints   = URI:$url_crl

# 证书策略
#  可以是单一 OID ，如果要包含 CPS 等额外信息需要额外建节。
#  如果要包含 userNotice 需要加上 ia5org 使 Windows 证书管理器识别。
certificatePolicies = anyPolicy
#certificatePolicies = ia5org, @crtpol
#[ crtpol ]
#policyIdentifier    = EV
#CPS.1   = URI:http://www.example.com
#CPS.2   = URI:http://mirror.example.com
#userNotice.1    = @notice
#[ notice ]
#explicitText    = "Explicit Text Here"
# organization 和 noticeNumbers 必须同时存在
#organization    = "Org"
#noticeNumbers   = 1,2,3,4

# 未详细了解扩展项
#policyConstraints   = requireExplicitPolicy:3
#  inhibitAnyPolicy MUST critical
#inhibitAnyPolicy    = critical, 2
#nameConstraints = permitted;email:.example.com
# OCSP No Check
#noCheck     = ignored

# 自定义扩展
#1.2.3.4 = critical, ASN1:UTF8String:Some random data
#1.2.3.4 = critical, DER:01:02:03:04
#1.2.3.4 = ASN1:SEQUENCE:seq_sect
#[ seq_sect ]
#field1  = UTF8:field1
#field2  = UTF8:field2
