[ default ]
#RANDFILE    =
oid_file    = ext.oid
#oid_section =

url_cacert  = http://www.example.com/ca.crt

[ ca ]
default_ca  = CA_default

[ CA_default ]
dir                 = .
new_certs_dir       = $dir/cert
certificate         = ${new_certs_dir}/01.pem
private_key         = $dir/privkey/01.key
#default_days        = 365
#default_startdate   =
#default_enddate     =
#default_crl_hours   =
default_crl_days    = 7
default_md          = sha512
database            = $dir/db/index.txt
unique_subject      = no
serial              = $dir/db/serial
crlnumber           = $dir/db/crlnumber
#x509_extensions     = v3ext
crl_extensions      = v2crlext
#preserve            = no
#dmail_in_dn         = no
#msie_hack           = no
policy              = match_pol
name_opt            = ca_default
cert_opt            = ca_default
copy_extensions     = copy

[ v2crlext ]
authorityKeyIdentifier  = keyid:always
authorityInfoAccess     = caIssuers;URI:$url_cacert
#issuingDistributionPoint   = critical, @idp_section

[ match_pol ]
#domainComponent         = optional
countryName             = supplied
stateOrProvinceName     = optional
localityName            = optional
organizationName        = supplied
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional
